
// Colors
@color-grey-light : #eee;
@color-grey-near-light : #ddd;
@color-grey-mid-light : #aaa;
@color-grey-mid : #999;
@color-grey-mid-dark : #666;
@color-grey-near-dark : #333;
@color-grey-dark : #222;
@color-grey-very-dark : #111;

//Custom
@color-brand : #1d8fd5;

// Awesome
@color-awesome-green : #91bd09;
@color-awesome-green-dark : #749a02;
@color-awesome-blue : #2daebf;
@color-awesome-blue-dark : #007d9a;
@color-awesome-red : #e33100;
@color-awesome-red-dark : #872300;
@color-awesome-magenta : #a9014b;
@color-awesome-magenta-dark : #630030;
@color-awesome-orange : #ff5c00;
@color-awesome-orange-dark : #d45500;
@color-awesome-yellow : #ffb515;
@color-awesome-yellow-dark : #fc9200;

// Kelly
@color-kelly-vivid-yellow : #FFB300;
@color-kelly-strong-purple : #803E75;
@color-kelly-vivid-orange : #FF6800;
@color-kelly-very-light-blue : #A6BDD7;
@color-kelly-vivid-red : #C10020;
@color-kelly-grayish-yellow : #CEA262;
@color-kelly-medium-gray : #817066; 

// Kelly - The following will not be good for people with defective color vision
@color-kelly-vivid-green : #007D34;
@color-kelly-strong-purplish-pink : #F6768E;
@color-kelly-strong-blue : #00538A;
@color-kelly-strong-yellowish-pink : #FF7A5C;
@color-kelly-strong-violet : #53377A;
@color-kelly-vivid-orange-yellow : #FF8E00;
@color-kelly-strong-purplish-red : #B32851;
@color-kelly-vivid-greenish-yellow : #F4C800;
@color-kelly-strong-reddish-brown : #7F180D;
@color-kelly-vivid-yellowish-green : #93AA00;
@color-kelly-deep-yellowish-brown : #593315;
@color-kelly-reddish-orange : #F13A13;
@color-kelly-dark-olive-green : #232C16;

// Boynton Optimized
@color-boynton-blue : #0000FF;
@color-boynton-red : #FF0000; 
@color-boynton-green : #00FF00;
@color-boynton-yellow : #FFFF00;
@color-boynton-magenta : #FF00FF;
@color-boynton-pink : #FF8080; 
@color-boynton-gray : #808080; 
@color-boynton-brown : #800000;
@color-boynton-orange : #FF8000;

// Font-stacking
@font-heading: 'ZwoRegular-Plain', arial, helvetica, sans-serif;
@font-light: 'ZwoExtraLight-Plain', arial, helvetica, sans-serif;
@font-body:  arial, helvetica, sans-serif;

// Font Embedding
@font-face {
    font-family: 'ZwoRegular-Plain';
    src: url('../font/zworegular-plain-webfont.eot');
    src: url('../font/zworegular-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/zworegular-plain-webfont.woff') format('woff'),
         url('../font/zworegular-plain-webfont.ttf') format('truetype'),
         url('../font/zworegular-plain-webfont.svg#ZwoRegular-Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'ZwoExtraLight-Plain';
    src: url('../font/zwoextralight-plain-webfont.eot');
    src: url('../font/zwoextralight-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/zwoextralight-plain-webfont.woff') format('woff'),
         url('../font/zwoextralight-plain-webfont.ttf') format('truetype'),
         url('../font/zwoextralight-plain-webfont.svg#ZwoExtraLight-Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ZwoSemiBold-Plain';
    src: url('../font/zwosemibold-plain-webfont.eot');
    src: url('../font/zwosemibold-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/zwosemibold-plain-webfont.woff') format('woff'),
         url('../font/zwosemibold-plain-webfont.ttf') format('truetype'),
         url('../font/zwosemibold-plain-webfont.svg#ZwoSemiBold-Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Mixins
.box-sizing       (@sizing:border-box)  {-moz-box-sizing: @sizing; -webkit-box-sizing: @sizing; box-sizing: @sizing;}
.transition       (@time: .2s)          {-webkit-transition: all @time ease-out; -moz-transition: all @time ease-out; -o-transition: all @time ease-out;transition: all @time ease-out;}
.border-radius    (@radius: 5px)        {-webkit-border-radius: @radius;-moz-border-radius: @radius; -o-border-radius: @radius;border-radius: @radius;}
.box-shadow       (@x: 0, @y: 0, @blur: 1px, @color: rgba(0,0,0,.2)) { box-shadow: @arguments; -moz-box-shadow: @arguments;-webkit-box-shadow: @arguments;}
.box-shadow-inset (@x: 0, @y: 0, @blur: 1px, @color: rgba(0,0,0,.2)) { box-shadow: inset @arguments; -moz-box-shadow: inset @arguments;-webkit-box-shadow: inset @arguments;}
.opacity          (@opacity: 0.5)       { -webkit-opacity: @opacity;-moz-opacity: @opacity; opacity:@opacity;}
.rotate           (@degrees: 1deg)      { -webkit-transform: rotate(@degrees); -moz-transform: rotate(@degrees); -o-transform: rotate(@degrees); -ms-transform: rotate(@degrees); transform: rotate(@degrees); }

/* CSS GLOBAL RESET */
html, body, div, span, pre,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, font, img, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font: inherit; }

/* HTML5 DISPLAY */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* typo */
b, strong { font-weight: bold; }

a, a:link, a:active, a:visited { 
  .transition(.25);
  outline: none; 
  text-decoration:none;  
}

/* IMAGES */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; } /* Improve image quality when scaled in IE7 + Remove the gap between images and borders on image containers
// Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }

/* TABLE */
table { border-collapse:collapse; border-spacing:0; }
td { vertical-align:middle;}
input:focus,
select:focus,
textarea:focus,
button {
  border : 0;
  outline: none; 
}
button:focus {
  outline: none; 
}

/* LISTS */
ul, ol { margin: 1em 0; padding: 0 0 0 0px; list-style:none; }
dd { margin: 0 0 0 0px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* HEADERS */
h1, h2, h3, h4, h5 { font-weight:normal; font-family: @font-body; text-transform:uppercase; }

// functionality
.hidden{ display:none; }

//buttons
.awesome, .awesome:visited {
  background: @color-grey-dark url(../../images/ui/alert-overlay.png) repeat-x; 
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: @color-grey-light; 
  text-decoration: none;  
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  .box-shadow(0, 1px, 3px, rgba(0,0,0,0.5));
  .border-radius(1px);
  position: relative;
  cursor: pointer;
  text-align:center;
}

.awesome:hover                                { background-color: @color-grey-very-dark; color: @color-grey-light; }
.awesome:active                               { background-color: @color-kelly-vivid-yellowish-green; color: @color-grey-near-dark; }
.awesome, .awesome:visited                    { font-size: 10px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }

.small.awesome, .small.awesome:visited        { font-size: 10px; }
.medium.awesome, .medium.awesome:visited      { font-size: 13px; }
.large.awesome, .large.awesome:visited        { font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited        { background-color: @color-awesome-green; }
.green.awesome:hover                          { background-color: @color-awesome-green-dark; }
.blue.awesome, .blue.awesome:visited          { background-color: @color-awesome-blue; }
.blue.awesome:hover                           { background-color: @color-awesome-blue-dark; }
.red.awesome, .red.awesome:visited            { background-color: @color-awesome-red; }
.red.awesome:hover                            { background-color: @color-awesome-red-dark; }
.magenta.awesome, .magenta.awesome:visited    { background-color: @color-awesome-magenta; }
.magenta.awesome:hover                        { background-color: @color-awesome-magenta-dark; }
.orange.awesome, .orange.awesome:visited      { background-color: @color-awesome-orange; }
.orange.awesome:hover                         { background-color: @color-awesome-orange-dark; }
.yellow.awesome, .yellow.awesome:visited      { background-color: @color-awesome-yellow; }
.yellow.awesome:hover                         { background-color: @color-awesome-yellow-dark; }

// shadowed background
.shadowed-background {
  position: relative;
  background: @color-grey-near-dark; 
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding:4px;
  margin:4px;
}
.shadowed-background:before, .shadowed-background:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 17px;
  left: 10px;
  width: 90%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  .box-shadow(0, 15px, 10px, rgba(0, 0, 0, 0.7));
  .rotate(-5deg);
}
.shadowed-background:after {
  .rotate(5deg);
  right: 10px; 
  left: auto; 
}

/* BODY */
div#container { width:100%;}
div#login { margin:50px auto; width:300px; height:220px;  }
html, body { -webkit-font-smoothing: antialiased; }

/* For the "inset" look only */
html {
    overflow: auto;
}
body {
  background-color : @color-grey-dark;
  font-family:@font-body;
  font-size:62.5%; 
  line-height: 1; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
  color:white;  
}
.wrapper {
  position: absolute;
  top: 40px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Scrollbar! Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
} 
/* Track */
::-webkit-scrollbar-track {
  .box-shadow-inset(0, 0, 6px, rgba(0,0,0,0.3));
  .border-radius(10px);
  border-radius: 10px;
} 
/* Handle */
::-webkit-scrollbar-thumb {
  .border-radius(10px);
  background: rgba(160,160,160,0.8); 
  .box-shadow-inset(0, 0, 6px, rgba(0,0,0,0.5));
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(160,160,160,0.4); 
}

/* VIEW: LOGIN */
#login-form {
	width: 265px;
  height: 120px;
  padding: 25px 30px 30px 30px;
	label { 
    width: 65px;
    display: block;
    float: left;
    line-height: 46px;
    font-size: 14px;
  }
  input { 
    border: 0 none;
    font-weight: bold;
    font-size:12px;
    color: @color-grey-near-dark;
    width:150px;
    padding: 6px 15px 6px 15px;
    margin:10px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    .box-shadow(0, 1px, 0, rgba(255, 255, 255, 0.1));
    .box-shadow-inset(0, 1px, 3px, rgba(0, 0, 0, 0.2));
    .border-radius(20px);
  }
  .login-button {
    float: right;
    margin: 9px 15px 0 0;
  }
}

/* VIEW: FILMS */
// menu (outside the wrapper!)
#menu {
  .menu-inner {
    margin: 9px 17px 0 17px;    
    .logout-button {
      float: right;
      margin: 0 3px 0 0;
      text-transform:uppercase;
    }    
    .paging {
      float:left;
    }
    .page-button {
      margin: 0 3px 0 0;
    }    
    .suggest-button {
      float: left;
      margin: 0 3px 0 0;
      font-size: 14px;
      height: 10px;
    }    
    .synced-button {
      float: left;
      margin: 0 3px 0 0; 
      font-size: 14px;
      height: 10px;
    }
  }
}
#menu .awesome:active { top: 1px; }
#menu .small.awesome.active { background-color: @color-kelly-vivid-yellowish-green; color: @color-grey-near-dark; }
#menu .page-button.small.awesome, 
#menu .suggest-button.small.awesome,
#menu .logout-button.small.awesome,
#menu .synced-button.small.awesome { color: @color-grey-dark; }
#menu .synced-film.small.awesome:active { background-color: @color-awesome-blue; color: @color-grey-near-dark; }

// search
#search {
  position:relative;
  display:block; 
  z-index:100;
  background-color : @color-grey-dark;
  
  width:100%;
  height:80px;
}
#loader-small {
  position:relative;
  display:block; 
  top:24px; 
  left:170px; 
  width:20px;
  height:20px; 
}
#search-form {
  margin:0px auto;
  width:190px;
  height:80px;
}
#search-form input[type="text"] {
  background: url(../../images/ui/search-white-filmreel.png) no-repeat 10px 6px #333;
  border: 0 none;
  font-weight: bold;
  font-size:12px;
  color: @color-grey-near-light;
  width:150px;
  padding: 6px 15px 6px 35px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
  .box-shadow(0, 1px, 0, rgba(255, 255, 255, 0.1));
  .box-shadow-inset(0, 1px, 3px, rgba(0, 0, 0, 0.2));
  .border-radius(20px);
  .transition(0.4s);
}
#search-form input[type="text"]:focus {
  background: url(../../images/ui/search-dark-filmreel.png) no-repeat 10px 6px #fcfcfc;
  color: @color-grey-near-dark;
  width: 200px;
  margin-left:-25px;
  .box-shadow(0, 1px, 0, rgba(255, 255, 255, 0.1));
  .box-shadow-inset(0, 1px, 0, rgba(0, 0, 0, 0.9));
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

// gallery
#films {
  margin:50px auto;
}
.full #films { max-width:1600px; }
.wide #films { max-width:1300px; }
.desktop #films { max-width:960px; }
.tablet #films { max-width:640px; }
.tablet_small #films { max-width:480px; }
.mobile #films { max-width:320px; }
.mobile_small #films { max-width:148px; } 

// player
#player {
  width:100%;
  margin-top:50px;
  text-align:center; 
}

// alphabet tiles
.film-alphabet {
  position: relative;
  float:left;
  padding:2px;
  width:140px;
  height:200px;
  text-align:center;
  padding:4px;
  margin:4px;
}
h1 {
  margin:-10px 0 0 -20px;
  font-size:90px;
  .opacity(0.3);
}
.depth {
  display: block;
  padding: 55px;
  color: black;
  font-weight: bold;
  position: relative;
}
.depth:before, .depth:after {
  content: attr(title);
  padding: 55px;
  color: rgba(255,255,255,.05);
  position: absolute;
}
.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }

// film tiles
.card { 
  position: relative;
  float:left;
  display:block;
  padding:4px;
  width:140px;
  height:200px;
}
img.grayscale {
  .transition(0.5s);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
img.grayscale.disabled {
  .transition(4s);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

// ui
a.play-button, a.collection-button, a.empty-button {
  position:absolute;
  display: block;
  top:70px;
  margin:0 0 0 50px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  .opacity(0);
  &:hover {
    background-position: 0 -40px;
  }
}
a.play-button {
  background: url(../../images/ui/play-button.png);
}
a.collection-button {
  background: url(../../images/ui/collection-button.png);
}
a.empty-button {
  //background: url(../../images/ui/empty-button.png);
}
li:hover {
  a.play-button, a.collection-button, .add-filter-button {
    .opacity(1);
  }
}
.google-search {
  position:absolute;
  display: block;
  text-align:center;
  top:30px;
  width:140px;
  line-height: 30px;
  font-size:13px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  color:@color-grey-mid;
  a, a:link, a:active, a:visited {
    color:@color-kelly-vivid-yellowish-green;
  }
}
.add-filter-button {
  position: relative;
  display: block;
  width: 13px;
  height: 11px;
  top: -198px;
  right: 3px;
  float: right;
  .opacity(0);
}
.small.awesome.add-filter-button { padding:3px 3px 3px 4px; color:@color-grey-light; } 
.small.awesome.add-filter-button:active { background-color: @color-grey-mid-dark; }
.bookmark {
  position: relative;
  display: block;
  width: 25px;
  height: 28px;
  top: -206px;
  left: -5px;
  float: left;
  font-size: 8px; 
  .text-bookmark {
    position: relative;
    display: block;
    top: -22px;
    width: 35px;
    text-align: center;
    &.dark { color:@color-grey-near-dark; }
    &.near-light { color:@color-grey-near-light; }
    &.light { color:@color-grey-light; }
  }
  .icon-bookmark {
    position:relative;
    display: block;
    font-size:29px;
    &.hd { color:@color-grey-near-dark; }
    &.cl { color:@color-grey-near-dark; }
    &.info { color:@color-kelly-vivid-yellowish-green; }
    &.notice { color:@color-kelly-vivid-yellow; }
    &.warning { color:@color-kelly-vivid-red; }
  }
}

// collection
.collection-menu, .add-filter-menu, .synced-menu {
  position:absolute;
  display:block;
  top:0px;
  left:-153px;
  width:297px;
  height:208px;
  overflow:hidden;
  z-index:10;
  background:@color-grey-near-dark;
  h2 {
    padding: 10px 0 0 0; 
    color: @color-grey-mid; 
    text-decoration: none;  
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    text-align:center;
    font-weight:bold;
    font-size:12px; 
  }
  .inner-menu {
    position:absolute;
    display:block;
    top:30px;
    left:0;
    width:285px;
    height:170px;
    overflow-x: hidden;
    overflow-y: scroll;
    #add-filter-form {
      width:165px;
      padding:5px 5px 5px 15px;
      margin:5px;
      .border-radius(10px);
    }
    li {
      padding:0px 12px 5px 12px;
    }
    a {
      width:225px;
    }
    .icon-circle, .icon-circle-blank {
      position:absolute;
      top:6px;
      left:4px;
      font-size:11px; 
      color: @color-grey-near-dark;
    }
    .icon-circle {
      .opacity(0);
    }
  }
}
.add-filter-menu .icon-search {
  padding:0 5px 0 0;
  color: @color-grey-mid-dark;
}
#films .left .collection-menu, #films .left .add-filter-menu  {
  left:3px;
}
.synced-menu {
  left: 13px;
  top: 36px;
  z-index: 200;
  height:128px;
  .border-radius(10px);
  .inner-menu {
    height:90px;
  }
  .sync_activate { 
    float:left;
    color:@color-awesome-blue; 
  }
  .sync_deactivate { 
    float:left;
    color:@color-kelly-vivid-red; 
  }
}
.synced-tab {
  position:absolute;
  display:block;
  top: 5px;
  left: 13px;
  width: 44px;
  height: 50px;
  z-index: -1;
  background:@color-grey-near-dark; 
  .border-radius(5px);
}

