/* CSS GLOBAL RESET */
html,
body,
div,
span,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
font,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font: inherit;
}
/* HTML5 DISPLAY */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
a,
a:link,
a:active,
a:visited {
  -webkit-transition: all 0.25 ease-out;
  -moz-transition: all 0.25 ease-out;
  -o-transition: all 0.25 ease-out;
  transition: all 0.25 ease-out;
  color: white;
  outline: none;
  text-decoration: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
/* Improve image quality when scaled in IE7 + Remove the gap between images and borders on image containers
// Correct overflow not hidden in IE9 */
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: middle;
}
input:focus,
select:focus,
textarea:focus,
button {
  border: 0;
  outline: none;
}
button:focus {
  outline: none;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 0px;
  list-style: none;
}
dd {
  margin: 0 0 0 0px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  text-transform: uppercase;
}
.hidden {
  display: none;
  visibility: hidden;
}
.shadowed-background {
  position: relative;
  background: #333333;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
}
.shadowed-background:before,
.shadowed-background:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 17px;
  left: 10px;
  width: 90%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.shadowed-background:after {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  right: 10px;
  left: auto;
}
/* BODY */
div#container {
  width: 100%;
}
div#login {
  margin: 50px auto;
  width: 300px;
  height: 220px;
}
html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* For the "inset" look only */
html {
  overflow: auto;
}
body {
  background-color: #222222;
  font-family: "museo_sans100";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: white;
}
.wrapper {
  position: absolute;
  top: 40px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Scrollbar! Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #ea7600;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(234, 118, 0, 0.6);
}
/* Greyscaling */
img.grayscale {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */

  filter: gray;
  /* IE6-9 */

  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}
.full {
  min-width: 1280px;
}
.desktop {
  max-width: 1280px;
}
.tablet {
  max-width: 640px;
}
.mobile {
  max-width: 320px;
}
#title {
  height: 250px;
  position: relative;
  display: block;
  width: 100%;
}
#title li {
  float: left;
}
#title li h1 {
  font-size: 50px !important;
  font-family: "museo_sans900";
  float: left;
  margin-left: 75px;
  margin-bottom: 50px;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#title li h1:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ea7600;
}
#title li h1 .color-grey {
  color: #aaaaaa;
}
#title li p {
  font-size: 22px !important;
  color: white;
  font-family: "museo_sans100";
  float: left;
  line-height: 32px;
  top: -10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#title li p:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ea7600;
}
#title li.name {
  max-width: 870px;
}
#title li.info {
  max-width: 870px;
}
#portfolio .header li {
  width: 33%;
  height: 60px;
  position: relative;
  float: left;
  display: block;
  margin-bottom: 10px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#portfolio .header li:hover h1 {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ea7600;
}
#portfolio .header li h1 {
  font-size: 32px;
  font-family: "museo_sans900";
  float: left;
}
#portfolio .header li h1 .color-grey {
  color: #aaaaaa;
}
#portfolio .header li h1 .type {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#portfolio .header li h1 .type.show {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#portfolio .header li h1 .type.color-html5 {
  color: #ff6523;
}
#portfolio .header li h1 .type.color-flash {
  color: #c4160d;
}
#portfolio .header li h1 .type.color-webapp {
  color: #ffd115;
}
#portfolio .header.cases li {
  height: 60px;
  width: 100%;
}
#portfolio .highlight {
  min-height: 500px;
}
#portfolio .highlight li {
  width: 33%;
  height: 400px;
  position: relative;
  float: left;
  display: block;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  overflow: hidden;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
}
#portfolio .highlight li.html5 .logo,
#portfolio .highlight li.flash .logo,
#portfolio .highlight li.webapp .logo {
  position: absolute;
  top: 160px;
  left: 40%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#portfolio .highlight li.html5 .grayscale,
#portfolio .highlight li.flash .grayscale,
#portfolio .highlight li.webapp .grayscale {
  position: relative;
  z-index: -2;
  height: 440px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
#portfolio .highlight a:hover .grayscale {
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
#portfolio .highlight a:hover .logo {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#portfolio .projects {
  position: relative;
  display: block;
}
#portfolio .projects h1 {
  margin: -10px -30px 0 -70px;
  font-size: 32px;
  letter-spacing: -2px;
  font-family: "museo_sans100";
  float: left;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#portfolio .projects .bevel {
  display: block;
  padding: 56px;
  color: black;
  position: relative;
}
#portfolio .projects .bevel:before,
#portfolio .projects .bevel:after {
  content: attr(title);
  padding: 55px;
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
}
#portfolio .projects .bevel:before {
  top: 1px;
  left: 1px;
}
#portfolio .projects .bevel:after {
  top: 2px;
  left: 2px;
}
#portfolio .projects li {
  display: block;
  clear: both;
  height: 40px;
  overflow: hidden;
  position: relative;
}
#portfolio .projects a {
  position: absolute;
  top: -50px;
  left: 14px;
  width: 100%;
}
#portfolio .projects a:hover h1 {
  color: white;
  font-family: "museo_sans900";
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#portfolio .projects a:hover .skiportrip {
  color: #0497e7;
}
#portfolio .projects a:hover .talktothehand {
  color: #e1c622;
}
#portfolio .projects a:hover .reporter {
  color: #4ddddb;
}
#portfolio .projects a:hover .whatsonyourpint {
  color: #814719;
}
#portfolio .projects a:hover .realviews {
  color: #76b62a;
}
#portfolio .projects a:hover .freeconeday {
  color: #e95062;
}
#portfolio .projects a:hover .theappbook {
  color: #5b9d51;
}
#portfolio .projects a:hover .autobeurs {
  color: #455d9c;
}
#portfolio .projects a:hover .iceworld {
  color: #b99df2;
}
#portfolio .projects a:hover .mojitokit {
  color: #9eff88;
}
#portfolio .projects a:hover .designheineken {
  color: #82ba3d;
}
#portfolio .projects a:hover .hotelhyundai {
  color: #ffce8e;
}
#portfolio .projects a:hover .bacardi150 {
  color: #c4160d;
}
#portfolio .projects a:hover .facebook {
  color: #82c0e9;
}
#portfolio .projects a:hover .mojitokit {
  color: #9eff88;
}
#portfolio .projects a:hover .starclub {
  color: #cc6f9c;
}
#portfolio .projects a:hover .platformapi {
  color: #fd99a1;
}
#portfolio .projects a.active h1 {
  color: white;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.tablet #title h1 {
  font-size: 32px !important;
}
.tablet #title p {
  font-size: 20px !important;
  line-height: 24px;
}
.tablet #title .name,
.tablet #title .info {
  max-width: 600px;
  min-width: 550px;
}
.tablet #portfolio .header {
  display: none;
  visibility: hidden;
}
.tablet #portfolio .header.cases {
  width: auto;
  display: block;
  visibility: visible;
}
.tablet #portfolio .highlight {
  min-height: 1250px;
}
.tablet #portfolio .highlight li {
  width: 100%;
  max-width: 900px;
  min-width: 640px;
  height: 400px;
}
.tablet #portfolio .projects h1 {
  color: white;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.mobile .wrapper {
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 40px 20px 20px 20px;
}
.mobile #title h1 {
  font-size: 18px !important;
}
.mobile #title p {
  font-size: 14px !important;
  line-height: 18px;
}
.mobile #title .name,
.mobile #title .info {
  max-width: 280px;
  min-width: 240px;
}
.mobile #portfolio .header {
  display: none;
  visibility: hidden;
}
.mobile #portfolio .header.cases {
  display: block;
  visibility: visible;
}
.mobile #portfolio .header.cases li {
  width: 100%;
  height: 30px;
}
.mobile #portfolio .header.cases li h1 {
  font-size: 18px !important;
}
.mobile #portfolio .highlight {
  min-height: 650px;
}
.mobile #portfolio .highlight li {
  width: 100%;
  max-width: 280px;
  min-width: 240px;
  height: 200px;
}
.mobile #portfolio .highlight li.html5 .logo,
.mobile #portfolio .highlight li.flash .logo,
.mobile #portfolio .highlight li.webapp .logo {
  top: 60px;
}
.mobile #portfolio .highlight li.html5 .grayscale,
.mobile #portfolio .highlight li.flash .grayscale,
.mobile #portfolio .highlight li.webapp .grayscale {
  height: 200px;
}
.mobile #portfolio .projects li {
  height: 28px;
}
.mobile #portfolio .projects li a {
  top: -45px;
}
.mobile #portfolio .projects h1 {
  color: white;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  font-size: 14px !important;
  letter-spacing: 0px;
  margin: -10px -38px 0 -70px;
}
